@font-face {
    font-family: minecraft;
    src: url('../fonts/minecraft.otf');
}

@font-face {
    font-family: minecraft-ten;
    src: url('../fonts/minecraft-ten.ttf');
}

p {
    font-family: minecraft;
}

h1, h2, h3, h4 {
    font-family: minecraft-ten;
    font-weight: 550;
}