@font-face {
    font-family: font;
    src: url('../fonts/ringm.ttf');
}
@font-face {
    font-family: font1;
    src: url('../fonts/nunito.ttf');
}
:root {
    --box-shadow: #00000099;
    --light-theme: #fff;
    --dark-theme: #282828;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
}
.logreg {
    position: relative;
    width: 300px;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(2px);
    box-shadow: 2px 0px 5px var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 50px 0 100px 0;
    gap: 20px;
    overflow: hidden;
}
header {
    position: absolute;
    top: 30px;
    font-family: font;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    padding-inline: 10px;
    pointer-events: none;
}
.logreg .menu button {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    border-left: 3px solid transparent;
    border-radius: 5px 0 0 5px;
    color: rgb(233, 233, 233);
    margin-left: 10%;
    padding-left: 50px;
    text-align: left;
    letter-spacing: 2px;
    font-size: larger;
    cursor: pointer;
    transition: 1s;
}
.logreg .menu button:hover {
    background: #000;
    border-color: white;
    transition: 1s;
}
.logreg button.active {
    background: #000;
    border-color: white;
}
.logreg-side {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
}
.login,
.register {
    width: 0;
    height: 100%;
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s;
}
.login.active,
.register.active {
    width: 400px;
}
.credits {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    height: 60px;
    display: flex;
}
.credits #creditsBtn {
    width: 100px;
    height: 60px;
    background-color: rgba(20, 20, 20, 0.6);
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.credits #creditsBtn span {
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}
.tri-left {
    width: 0;
    height: 0;
    border-left: 60px solid rgba(20, 20, 20, 0.6);
    border-top: 60px solid transparent;
}
.tri-right {
    width: 0;
    height: 0;
    border-right: 60px solid rgba(20, 20, 20, 0.6);
    border-bottom: 60px solid transparent;
}
.alert {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    color: #111;
    background-color: #000000aa;
    backdrop-filter: blur(5px);
}
.alert.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 1s;
    animation: opa 1s;
    cursor: pointer;
}
@keyframes opa {
    from {
        opacity: 0;
    }
}
.alert img {
    position: absolute;
    width: 400px;
    height: auto;
    inset: 0;
    margin: auto;
    z-index: 10;
}
.alert p {
    width: 300px;
    text-align: left;
    font-size: large;
    inset: 0;
    margin: auto;
    z-index: 11;
}